{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}

{% if message == "1" %}
<script>

    alert("Fetching Bank Details using Bank IFSC Code !!");
</script>

{% endif %}

{% if message == "2" %}
<script>
    alert("Fetching Bank Details using Bank Name & City !!");
</script>

{% endif %}

<style>

    @import url('https://fonts.googleapis.com/css?family=Nova+Round&display=swap');

    #body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(-45deg, #FA8BFF, #2BD2FF, #FFE53B,#FF2525, #FBDA61);
        background-size: 800% 800%;
        animation: gradient 40s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .active-cyan-2 input.form-control[type=search]:focus:not([readonly]) {
      border-bottom: 1px solid #4dd0e1;
      box-shadow: 0 1px 0 0 #4dd0e1;
    }
    .active-cyan input.form-control[type=search] {
      border-bottom: 1px solid #4dd0e1;
      box-shadow: 0 1px 0 0 #4dd0e1;
    }
    .active-cyan .fa, .active-cyan-2 .fa {
      color: #4dd0e1;
    }

</style>

<strong><h1 class="text-center" style="font-family:cursive; margin-top: 50px;"><u>Welcome To Credicxo Tech</u></h1></strong><br>
<div class="container-fluid">
  <marquee behavior="scroll" direction="left" scrollamount="5" style="color: black;font-size: 1.5em;" onmouseover="javascript:stop()" onmouseout="javascript:start()">
                <p class="pt-2" style="font-weight:bold;"><span class="text-danger">Search Below:</span> to get details of Bank.. </p>
  </marquee>
</div>

<div class="container fluid-3" style="align:center;">

  <div class="col-lg-12 " style="color: white;">
    <div class="card bg-dark mb-2" width="100%" height="100%" style=" padding: 0px 0px 0.3px 0px; box-shadow: 0px 1px 2px;">
      <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan active-cyan-2 mt-2" method="GET" action="">
        {% csrf_token %}
        <label for="search" class="text-warning text-center">Get Bank Details Using IFSC Code</label>
        <input class="form-control form-control-sm ml-3 w-75" type="search" id="search" name="search" placeholder="Enter IFSC Code to Get Details of Bank"
        aria-label="Search">
        <button class="button btn-primary" type="submit"><i class="fas fa-search" aria-hidden="true"></i> Search </button>
      </form>
	<marquee behavior="scroll" direction="left" scrollamount="5" class="text-primary" onmouseover="javascript:stop()" onmouseout="javascript:start()">
                <p class="pt-2" style="font-weight:bold;"><span class="text-danger">*</span>Use block letters to search </p>
  	</marquee><br>
      <div class="card mb-4 bg-dark border border-default">
      <table class="table" border="4" style="position: relative; width: 100%; border-color:white;">
                <thead class="bg-dark" style="color:white;">
                <tr>
                    <th colspan="3" style="text-align:center; font-size:16px;">Bank Details</th>
                </tr>
                </thead>
                <tbody class="bg-dark " style="color:white;">
                <tr>
					<th> IFSC Code </th>
					<td>{{val.ifsc.0}}</td>
				</tr>
				<tr>
					<th> Bank Name </th>
					<td>{{val.bank_name.0}}</td>
				</tr>
				<tr>
					<th> Bank ID </th>
					<td>{{val.bank_id.0}}</td>
				</tr>
				<tr>
					<th> Branch </th>
					<td>{{val.branch.0}}</td>
				</tr>
				<tr>
					<th> Address </th>
					<td>{{val.address.0}}</td>
				</tr>
                <tr>
					<th> City </th>
					<td>{{val.city.0}}</td>
				</tr>
                <tr>
					<th> District </th>
					<td>{{val.district.0}}</td>
				</tr>
                <tr>
					<th> State </th>
					<td>{{val.state.0}}</td>
				</tr>
            </tbody>
        </table><br>
      </div>
    </div>
  </div>
</div>


<div class="container fluid-3" style="margin-top: 20px;">
  <div class="col-lg-12 text-center" style="color: white;">
    <div class="card bg-dark mb-2" width="100%" height="100%" style=" padding: 0px 0px 0.3px 0px; box-shadow: 0px 1px 2px;">
      <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan active-cyan-2 mt-2" method="GET" action="">
        {% csrf_token %}
          <label for="searchbank" class="text-warning text-center">Get Bank Details Using Bank Name & Bank City </label>
        <input class="form-control form-control-sm ml-2 w-30" type="search" id="searchbank" name="searchbank" placeholder="Enter Bank Name"
        aria-label="Search">
        <input class="form-control form-control-sm ml-2 w-30" type="search" name="searchcity" placeholder="Enter City Name"
        aria-label="Search"> &nbsp;
        <button class="button btn-primary" type="submit"><i class="fas fa-search" aria-hidden="true"></i> Search </button>
      </form>
	<marquee behavior="scroll" direction="left" scrollamount="5" class="text-primary" onmouseover="javascript:stop()" onmouseout="javascript:start()">
                <p class="pt-2" style="font-weight:bold;"><span class="text-danger">*</span>Use block letters to search </p>
  	</marquee><br>    
      <div class="card mb-8 bg-dark border border-default">
      <h3 class="border border-default">Bank Details</h3><br>
        <div class="table-responsive">
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th>IFSC Code</th>
                <th>Bank ID</th>
                <th>Branch</th>
                <th>Address</th>
                <th>City</th>
                <th>District</th>
                <th>State</th>
                <th>Bank Name</th>
              </tr>
            </thead>
            <tbody>
                {% if vall %}
                {% for i in vall %}
                  <tr>
                    <td>{{i.ifsc}}</td>
                    <td>{{i.bank_id}}</td>
                    <td>{{i.branch}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.city}}</td>
                    <td>{{i.district}}</td>
                    <td>{{i.state}}</td>
                    <td>{{i.bank_name}}</td>
                  </tr>
                {% endfor %}
                {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div><br>

</div><br>

{% endblock %}
